body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-container {
    position: fixed;
    background-color: #FFFFFF;
    z-index: 200;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    width: 100%;
}

.nav-list {
    list-style-type: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.nav-item {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-item .nav-active {
    border-bottom: 3px solid #000000;
}

.nav-item a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.alt-page-1 {
    height: 100vh;
    background-color: #FFFFFF;
}

.alt-page-2 {
    height: 100vh;
    background-color: rgb(109, 110, 113);
}

#logo-page {
    height: 100vh;
    background-color: #FFFFFF;
    text-align: center;
}

#logo-page img {
    vertical-align: middle;
    position: relative;
}

.mid-helper {
    vertical-align: middle;
    height: 100vh;
    content: ' ';
    display: inline-block;
}
